input[type=button].idle {
    padding: 10px;
    border: 5px solid green;
    background: #0a0;
    color:white;
}
input[type=button]:hover.idle {
    background: #0d0;
    border: 5px solid #0a0;
}
input[type=button].working {
    padding: 10px;
    border: 5px solid orange;
    background: #a80;
    color:white;
}
input[type=button] {
    height: 47px;
    width: auto;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
}