input[type=button].idle {
    padding: 10px;
    border: 5px solid green;
    background: #0a0;
    color:white;
}
input[type=button]:hover.idle {
    background: #0d0;
    border: 5px solid #0a0;
}
input[type=button].working {
    padding: 10px;
    border: 5px solid orange;
    background: #a80;
    color:white;
}
input[type=button] {
    height: 47px;
    width: auto;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
}

body {
    background-color: #4287f5;
    color: white;
}

#filelistbutton {
    width: 64px;
    height: 64px;
    z-index: 5;
    position: relative;
}

#filelistlabel {
    width: 64px;
    height: auto;
    text-align: center;
    font-size: 10px;
}

#currentfile {
    font-size: 60px;
}

#hint {
    position: absolute;
    display: inline;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    text-align: center;
    font-size: 40px;
    background: rgba(0, 128, 255, 0.5);
    vertical-align: middle;
    display: inline;
    z-index: 0;
}

#hint-inner {
    margin: auto auto;
    margin-top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    
    bottom: 100%;
    top:50%;
    position: absolute;
}
