@use "sass:math";
@use "sass:color";

@function hueConicPolyfill($fromHue, $toHue, $toDeg, $sat, $val, $steps) {
    $gradient: (
    );

@for $i from 0 to calc($steps + 1) {
    $pct: calc($i / $steps);
    $hue: calc($fromHue + $pct * ($toHue - $fromHue));
    $deg: calc($pct * $toDeg);
    $color: hsl($hue $sat $val);
    $gradient: append($gradient, $color $deg, comma);
}

@return $gradient;
}

@function ray($from, $to, $color: #fff4, $edges: 1%) {
    @return linear-gradient(120deg,
        transparent 0,
        transparent calc($from - ($edges / 2)),
        $color calc($from + ($edges / 2)),
        $color calc($to - ($edges / 2)),
        transparent calc($to + ($edges / 2)),
        transparent 100%);
}

@function coloredTiers($fromHue, $toHue, $sat, $light, $alpha, $count) {
    $components: ();
    @for $i from 0 to $count {
        $hu: calc(($toHue - $fromHue) * ($i / $count) + $fromHue);
        $components: append($components, hsla($hu, $sat, $light, $alpha));
    } 
    @return $components;
}

$popup-background-style: linear-gradient(-22.5deg, #050505 0%, #150535 100%);
$placeholder-color: #b080ff;
$font: "Rubik", sans-serif;
$progressive: #80ffb0;
$progressive-disabled: #808080;
$error: #ff8080;
$banner-default: ray(50%, 60%), ray(65%, 70%), ray(72.5%, 75%), conic-gradient(from -90deg at 75% 110%, hueConicPolyfill(200deg, 300deg, 180deg, 80%, 33.3%, 20));

$tiers-100: coloredTiers(130deg, 484deg, 50%, 75%, 100%, 6);
$tiers-25: coloredTiers(130deg, 484deg, 50%, 75%, 25%, 6);

$backdrop: #050505;
$primary-content: #101010;
$normal-text: #eeeeee;
$layer1: #202020;
$layer2: #303030;
$bg-note: #202040;
$bg-warning: #404020;
$bg-error: oklch(1 1 0deg);
