$popup-background-style: linear-gradient(-22.5deg, #050505 0%, #150535 100%);
$placeholder-color: #b080ff;
$font: "Rubik", sans-serif;
$progressive: #80ffb0;
$progressive-disabled: #808080;
$error: #ff8080;
