@mixin icon($font-size, $icon) {
    display: inline-block;
    padding-left: calc($font-size + 4px);
    background: transparent $icon no-repeat left center;
}

.icon.-arrow-back {
    @include icon(20px, url(icons/arrow_back_20dp.svg));
}
.icon.-backspace {
    @include icon(20px, url(icons/backspace_20dp.svg));
}
.icon.-share {
    @include icon(20px, url(icons/share_20dp.svg));
}