@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-VariableFont_wght.ttf");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Italic-VariableFont_wght.ttf");
    font-style: italic;
    font-display: swap;
}

html, body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(-10deg, #056535 0%, #252525 20%, #050505 80%, #150535 100%);
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: #eee;
    
}
