@use "_definitions.scss" as def;
@use "shared.scss";
@use "encrypted.scss";

body {
    display: flex;
    justify-content: center;
}

.main_container {
    width: 100vw;
    max-width: 1000px;
    min-height: 100vh;
    background-color: def.$layer1;
    box-shadow: 0 0 16px #000000b0;
    padding: 0;
    margin: 0;
}

.banner.banner {
    width: 100%;
    height: unset;
    max-height: 25vh; /* at max, take 25% of the page; we don't want to force too much scrolling */
    aspect-ratio: var(--replaced-image-aspect, inherit);
    background-size: cover;
    object-fit: cover;
    position: relative;
    z-index: 5;
    &.banner--no-banner-image {
        background: def.$banner-default;
        min-height: max(5rem + 10px, 33.3vh, 10vw + 20px);
    }
}

.cardset {
    display: grid;
    margin: 0 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
}
.cardset > .card {
    margin: 0;
    background-color: def.$layer2;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #000000b0;
}
.card .-primary {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid def.$normal-text;
    border-radius: 4px;
    padding: 4px;
    flex-flow: row nowrap;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

main.content {
    z-index: 10;
    position: relative;
}

main.content ._above {
    --source: url("https://upload.wikimedia.org/wikipedia/commons/5/5f/Oxygen_in_the_Great_Carina_Nebula-improved2.jpg");
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: #b080ff;
    box-sizing: border-box;
    background-image: linear-gradient(0deg, #000000b0 0%, transparent 100%)
}


header.banner-title {
    font-size: min(5rem, 10vw);
}

main.content ._main {
    padding: 20px;
}
