@use "sass:selector";
@use "fonts.scss";
@use "icons.scss";

@mixin break-mobile {
    @media screen and (max-width: 800px) {
        @content;
    }
}

.hide {
    display: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

*:not(.override-box-sizing) {
    box-sizing: border-box;
}

@property --color-stop {
    syntax: '<angle>'
}

nav#top {
    height: max-content;
    background-color: #333;
    z-index: 2;
    box-shadow: 0 0 4px #000;
    display: flex;
    gap: 4px;
    flex-flow: row nowrap;
    overflow: auto hidden;
    color: #fff;
    font-size: 1.2rem;

    & .item {
        padding: 10px;
        color: #fff;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        width: max-content;
        margin: 0;
        background-color: transparent;
        border: none;
        font-family: 'Rubik', sans-serif;
        font-size: 1.2rem;
        transition: background-color ease-in-out 0.2s, border-width ease 0.1s;
        border-bottom: none;
        border-top: none;
        flex-shrink: 0;
        
        & .icon {
            align-self: stretch;
        }
        @include break-mobile {
            & .icon {
                background-position: center center;
            }
            & .-label {
                display: none;
            }
        }

        @at-root #{selector.unify(&, a)} {
            text-decoration: none;
        }

        &.heading {
            font-size: 1.4rem;
            font-weight: bold;
        }

        &:hover {
            background-color: #0004;

            &.selectable {
                background-color: #0008;
                border-bottom: 2px solid white;
                border-top: 2px solid white;
            }
            
            @at-root #{selector.unify(&, a)} {
                text-decoration: underline;
            }
        }
    }
}
