.replaced-image {
    display: inline-block;
    background: #201040;
    width: var(--replaced-image-width);
    height: var(--replaced-image-height);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.replaced-image::after {
    content: attr(alt);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: #ffffff;
    font-style: italic;
    font-size: 1rem;
}
